<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:oracle11</property>
        <property name="hibernate.connection.username">QLSV</property>
        <property name="hibernate.connection.password">quan123</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.charSet">utf8</property>
        <property name="hibernate.characterEncoding">utf8</property>
        <property name="hibernate.useUnicode">yes</property>
        <mapping class="com.example.test2.entity.Student"></mapping>
    </session-factory>
</hibernate-configuration>